<div>

    <div ng-show="addedAssistants">
        Added Assistants
        <div ng-repeat="assistant in addedAssistants">
            {{assistant.name}}
            <button>Manage</button>
        </div>
    </div>

    <div>
        Select Number of Assistants to be added :
        <select ng-model="numberOfAssistantsToBeAdded" ng-options="i for i in getArray(5)">
        </select>
    </div>

    <div ng-repeat="i in getArray(numberOfAssistantsToBeAdded)">
        name : <input type="text" ng-init="assistantName[$index]=''" ng-model="assistantName[$index]">

    </div>

    <div ng-show="numberOfAssistantsToBeAdded">
        <button ng-click="addAssistants()">add assistants</button>
    </div>

    <div ng-show="defaultPermissionSet">
    <div class="row">
        <div style="float:left;padding-left: 100px"> Permissions</div>
        <div style="float:left;padding-left: 100px" ng-repeat="permission in defaultPermissionSet">{{permission.feature}}</div>
    </div>

    <div class="row" ng-repeat="(key,value) in defaultPermissionSet[0].permission">
        <div style="float:left;padding-left: 100px"> {{key}}</div>
        <div style="float:left;padding-left: 100px" ng-repeat="permission in defaultPermissionSet">{{permission.permission[key]}}</div>
    </div>
    </div>
</div>